* {

    padding: 0;
    margin: 0;
}

.navbar-toggler{
        color: #00abf0;
        box-shadow: 0 0 10px #00abf0;

}

.navbg {
    background: black;
}

.logo {
    padding-left: 20px;
    text-decoration: none;
    color: #00abf0;
    font-size: 32px;
    font-weight: 800;
}

.active-bar {
    color: #00abf0;
}

.navitem {
    display: flex;
    justify-content: right;
    align-items: center;
}

.navitem a {
    margin-right: 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.navitem:nth-child(2) {
    color: #00abf0;
}

.navitem a:hover {
    color: #00abf0;
}

@media screen and (max-width: 990px) {
    
    .navitem {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        
    }

    .navitem a {
        margin-bottom: 20px;
    }

    .home-body {
        height: 100vh;
        background: #031540;
    }

    .about {
        margin-top: 100vh;
    }

    .skill-body {
        width: 90%;
    }

    
   

    
}

.home-name h1 {
    font-weight: 600;
    font-family: cambria;
}


.home-head {
    padding-top: 70px;
    height: 550px;
    background: #031540;
}

.home-body {
    padding-top: 5px;
}

.pimg{
    width: 400px;
    border: 10px solid black;
    border-radius: 450px;
    overflow: hidden;
    box-shadow: 0 0 17px #00abf0;

}


.pimg img{
   
    overflow: hidden;
    transition: transform 0.6s;
}

.pimg img:hover {
    transform: scale(1.06);
}

.home-content {
    padding-bottom: 20px;
}

.home-content h3 {
    font-size: 37px;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    background-image: linear-gradient(#00abf0,#00abf0 );
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;
}

@keyframes animateText {
    0%,95%,100% {
        background-position: -410px 0;
    }
    65%,85% {
        background-position: 0 0 ;
    }
}

.home-body h1 {
    font-size: 47px;
    color: white;
    font-weight: 600;
    font-family: arial;

}

.home-para p {

    color: white;
    font-size: 20px;
    font-weight: 300;
}

.home-sci {
    margin: 25px 0 40px;
}

.home-sci a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 50%;
        color: #00abf0 ;
        text-decoration: none;
        margin-left: 15px;
        transition: .5s;
}

.home-sci a:hover {
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}

.form {
    font-size: 18px;
    font-family: arial;
    font-weight: 600;
    padding: 10px 25px;
    text-decoration: none;
    background: #00abf0;
    color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0 0 10px #00abf0;
}

.form:hover {
    box-shadow: none;
}

.title {
    background: black;
}

.title h1 {
    color: whitesmoke;
}

.about-content h5 {
    font-size: 27px;
    font-family: Gills Sans;
    font-weight: 700;
}

.about-content a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Cambria;
    font-weight: 500;
}

.aboutbg {
    padding-top: 60px;
}

.head {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    font-family: cambria;
    padding-top: 20px;
    padding-bottom: 30px;
}

.aboutbody {
    padding-top: 20px;
}

.skill-body {
    width: 80%;
}


.conbody {
    padding-top: 23px;
    background: black;
    padding-left: 60px;
    height: 100px;
}

.conbody h5{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 900;
}

.projectimg {
    overflow: hidden;
}

.projectimg img {
    overflow: hidden;
    transition: transform 0.6s;

}

.projectimg img:hover {
    transform: scale(1.1);
}

.conbody h6{
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
}

.conbtn{
    background: black;
    height: 100px;
}

.conbtn a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: black;
    border: 1px solid;
    border-radius: 10px;
    background: whitesmoke;
    padding: 3px 20px;
}

.conbtn a:hover {

    background: grey;
}

.contact {

    background: #031540;
    
}

.contacthead {
    padding-top: 50px;
}

.contactbody {
    margin-right: 70px;
}

.contactbody input {

        padding-bottom: 30px;
        margin-bottom: 20px;
}

.subbtn {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 3px 20px;
    border: 2px solid #00abf0;
    border-radius: 30px;
    background: #00abf0;
    box-shadow: 0 0 17px #00abf0;
}

.subbtn:hover {
    box-shadow: none;
}

.mp a{
    
    font-size: 25px;
    font-weight: 600;
}

.mp a i{
    padding-right: 40px;
    padding-left: 20px;
}

.btn {
    background: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}

.btn:hover {
    background: #00abf0;
    box-shadow: none;
}
